nav {
    background-color: aqua;
    padding: 10px;
}

@media screen and (max-width: 480px) {
    nav {
        background-color: aquamarine;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }
}